<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pokeneaInfo.css') }}"
    />
  </head>
  <body>
    <h1>Pokeneas Info</h1>
    <div class="container">
      {% for pokenea in pokeneas %}
      <div class="pokeneas_info">
        <h2>POKENEA</h2>
        <p>ID del Pokeneas: {{ pokenea.id }}</p>
        <p>Nombre del Pokeneas: {{ pokenea.nombre }}</p>
        <p>Altura del Pokenea: {{ pokenea.altura }}</p>
        <p>Habilidad del Pokenea: {{pokenea.habilidad}}</p>
        <p>Informacion formato JSON: {{pokenea}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
